@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.wrap {
  width: 100%;
}
.wrap .main {
  width: 100%;
  position: relative;
}
.wrap .main .notice {
  position: relative;
  width: 100%;
  height: 34px;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 34px;
  transition: 0.5s;
}
.wrap .main .notice.on {
  height: 0;
}
.wrap .main .notice button {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  transition: 0.5s;
}
.wrap .main .notice button.on {
  height: 0;
  overflow: hidden;
}

.wrap .main .nav {
  width: 100%;
  height: 69px;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  z-index: 2;
}
.wrap .main .nav .nav_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .main .nav .nav_logo a {
  display: inline-block;
}
.wrap .main .nav .nav_logo a p {
  width: 185px;
}
.wrap .main .nav .nav_logo a p img {
  width: 100%;
}
.wrap .main .nav .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.wrap .main .nav .menu li a {
  color: #fff;
}
.wrap .main .nav .service {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.wrap .main .nav .service li a {
  color: #fff;
}
.wrap .main .nav .service li:first-child a:first-child {
  margin-right: 12px;
}
.wrap .main .nav .service li:first-child a {
  font-size: 16px;
}
.wrap .main .nav .service li:nth-child(2) a {
  font-size: 14px;
}
.wrap .main .nav .service li p img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
/*<------여기부터 mainBg------>*/
.mainBg {
  width: 100%;
  height: 100vh;
}
.swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
